<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​Electricity Price Forecast">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>
    <link rel="stylesheet" href="../static/nicepage.css" media="screen">
    <link rel="stylesheet" href="../static/Home.css" media="screen">
    <script class="u-script" type="text/javascript" src="../static/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../static/nicepage.js" defer=""></script>

    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">




    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
    }</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
    <style>
    legend { color: #fff; }
    .input-group-addon {
        background-color: black;
    }
    .u-section-2 .u-text-1 {
      margin: 0px 30px 0;
    }
    #prediction:hover{
        color: #ffffff !important;
        background-color: #2cccc4 !important;
    }
  </style>
  </head>
  <body data-home-page="Home.html" data-home-page-title="Home" class="u-body"><header class="u-clearfix u-header u-valign-bottom u-white u-header" id="sec-df05"><nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
          <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="../static/Home.html" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Prediction.html" style="padding: 10px 20px;">Prediction</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Contact.html" style="padding: 10px 20px;">Contact</a>
</li></ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="../static/Home.html" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Prediction.html" style="padding: 10px 20px;">Prediction</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Contact.html" style="padding: 10px 20px;">Contact</a>
</li></ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav><img class="u-image u-image-default u-image-1" src="../static/images/1200px-Logo_of_the_Technical_University_of_Munich.svg.png" alt="" data-image-width="1200" data-image-height="918"></header>
    <section class="u-clearfix u-image u-section-1" id="carousel_8f52">
      <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-image u-layout-cell u-left-cell u-size-28 u-image-1">
              <div class="u-container-layout u-valign-middle u-container-layout-1">
                <h1 class="u-text u-text-palette-2-base u-text-1"> Electricity Price Forecast</h1>
              </div>
            </div>
            <div class="u-align-left u-container-style u-image u-layout-cell u-right-cell u-size-32 u-image-2" data-image-width="1024" data-image-height="679">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <p class="u-text u-text-body-alt-color u-text-2"> We are Group 7<br>Committed to predicting electricity prices, we are in action
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-black u-clearfix u-section-2" id="sec-6278">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="150" data-image-height="99">
                <div class="u-container-layout u-container-layout-1"></div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">


                  <div class="container">
                    <form action="" class="form-horizontal"  role="form">
                        <fieldset>
                            <legend>Choose a date</legend>
                            <div class="form-group">
<!--                                <label for="dtp_input1" class="col-md-2 control-label">DateTime Picking</label>-->
                                <div class="input-group date form_datetime col-md-11"  data-link-field="dtp_input1">
                                    <input class="form-control" id="timePicker" name="date" placeholder="date" value="{{ date }}"size="16" type="text" value="" readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                    
                                </div>
                                <input type="hidden" id="dtp_input1" value="" /><br/>
                            </div>
                        </fieldset>
                    </form>
                </div>


                  <h2 class="u-text u-text-default u-text-1">The electricity price<br>&nbsp;<br>1 hour ahead<br>
                    <br>1 day ahead&nbsp;<br>
                    <br>1 week ahead
                  </h2>
<!--

<!--                  <a href="{{ url_for('getPrediction',date=date) }}" class="u-btn u-btn-round u-button-style u-hover-palette-4-base u-palette-3-base u-radius-50 u-btn-1">PreDICT NOW</a>-->
                  <a href="javascript:void(0)" onClick="gePrediction()" class="u-btn u-btn-round u-button-style u-hover-palette-4-base u-palette-3-base u-radius-50 u-btn-1">PreDICT NOW</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-black u-clearfix u-section-3" id="sec-0759">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1">
                <h1 class="u-text u-text-default u-text-palette-3-base u-title u-text-1" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">{{price_1h}}</h1>
                <p class="u-text u-text-2">1 hour ahead</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2">
                <h1 class="u-text u-text-default u-text-palette-3-base u-title u-text-3" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">{{price_1d}}</h1>
                <p class="u-text u-text-4">1 day ahead</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-3">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3">
                <h1 class="u-text u-text-default u-text-palette-3-base u-title u-text-5" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">{{price_1w}}</h1>
                <p class="u-text u-text-6">1 week ahead</p>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <canvas id="myChart"></canvas>
        </div>
    </section>

    <section class="u-align-center u-black u-clearfix u-section-4" id="sec-a0bf">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <div alt="" class="u-image u-image-circle u-image-1" src="" data-image-width="500" data-image-height="500"></div>
                <h5 class="u-text u-text-1">Mingyu Liu</h5>
                <p class="u-text u-text-2">Data Collection, Model Building& Fine Tuning, Poster, Video, Report</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <div alt="" class="u-image u-image-circle u-image-2" src="" data-image-width="500" data-image-height="500"></div>
                <h5 class="u-text u-text-3">Daniel Caraballo</h5>
                <p class="u-text u-text-4"> Model building, Data Pre-processing, Data-crawling, Video voiceover, Report</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <div alt="" class="u-image u-image-circle u-image-3" src="" data-image-width="500" data-image-height="500"></div>
                <h5 class="u-text u-text-5">Yuchong Zheng</h5>
                <p class="u-text u-text-6"> Data visualization& pre-processing, Model building transformer, combining models transformer and LSTM, Poster, Video, Report </p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                <div alt="" class="u-image u-image-circle u-image-4" src="" data-image-width="500" data-image-height="500"></div>
                <h5 class="u-text u-text-7">Sefa Ekin Yilmaz</h5>
                <p class="u-text u-text-8"> Data Visualization& Pre-Processing,Model Building, Poster, Web Implementation, Report</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-black u-clearfix u-section-5" id="sec-bb87">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <div alt="" class="u-image u-image-circle u-image-1" src="" data-image-width="500" data-image-height="500"></div>
                <h5 class="u-text u-text-1">Roxie Swanson</h5>
                <p class="u-text u-text-2"> Work</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <div alt="" class="u-image u-image-circle u-image-2" src="" data-image-width="500" data-image-height="500"></div>
                <h5 class="u-text u-text-3">Jennie Clarke</h5>
                <p class="u-text u-text-4"> Work</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <div alt="" class="u-image u-image-circle u-image-3" src="" data-image-width="500" data-image-height="500"></div>
                <h5 class="u-text u-text-5">Hunter Norton</h5>
                <p class="u-text u-text-6"> Work</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                <div alt="" class="u-image u-image-circle u-image-4" src="" data-image-width="500" data-image-height="500"></div>
                <h5 class="u-text u-text-7">Betty Nilson</h5>
                <p class="u-text u-text-8"> Work</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <footer class="u-align-center u-black u-clearfix u-footer u-footer" id="sec-4751"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">All rights reserved by TEAM7@2021</p>
      </div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
        <span>Website Templates</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="https://nicepage.com/" target="_blank">
        <span>Website Builder Software</span>
      </a>.
    </section>

    <script type="text/javascript" src="../static/jquery.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../static/chart/chart.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/bootstrap/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript">
      $('.form_datetime').datetimepicker({
          format: "dd/mm/yyyy - hh:ii",
          weekStart: 1,
          todayBtn:  1,
          autoclose: 1,
          todayHighlight: 1,
          startView: 2,
          forceParse: 0,
          showMeridian: 1,
          minuteStep:60

      });
      function gePrediction(){
          date = $('#timePicker').val();
          window.location.href="/getPrediction/?date=" + date;
         // alert($('#timePicker').val());
      }



      const labels = [
          'January',
          'February',
          'March',
          'April',
          'May',
          'June',
          'July',
          'August',
          'September',
          'October',
          'November',
          'December'
        ];
    const data = {
      labels: labels,
      datasets: [{
        label: 'Electricity pricet',
        backgroundColor: 'rgb(241, 197, 14)',
        borderColor: 'rgb(241, 197, 14)',
        data: [0, 10, 5, 2, 20, 30, 45,12,41,55,12,4],
      }]
    }
    const config = {
          type: 'line',
          data: data,
          options: {}
        };

    var myChart = new Chart(
        document.getElementById('myChart'),
        config
  );

  </script>
  </body>
</html>
